.container-home {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('../../images/background-fortnite.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-home-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card-up-home {
    width: 20%;
    height: 32rem;
    background-color: #fff;
    padding: 5px;
    margin: 2rem;
}

.card-home {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.card-home img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.center-card {
    width: 28%;
    height: 41rem;
}

.tittle-card-home {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 30px;
    /* margin-bottom: 5rem; */
}

.tittle-card-home a {
    text-decoration: none;
    background: #fcf810;
    /* background: #105bfc; */
    font-size: 1.8rem;
    color: #000;
    padding: 8px 40px;
    text-align: center;
    text-transform: uppercase;
    font-family: fantasy;
    outline: 0 solid #fcf810;
    transition: 0.1s all ease-in-out;
}

.tittle-card-home a:hover {
    outline-width: 3px;
    outline-offset: 2px ;
    transition: 0.1s all ease-in-out;
}



@media screen and (max-width: 1500px) {
    .container-home {
        height: max-content;
        background-size: contain;
        background-attachment: scroll;
        padding-top: 4rem;
    }

    .cards-home-container {
        width: 100%;
        justify-content: center;
    }

    .card-up-home {
        width: 60%;
        height: 25rem;
        background-color: #fff;
    }

    .center-card {
        width: 60%;
        height: 30rem;
    }
}



@media screen and (max-width: 991px) {
    .container-home {
        height: max-content;
        background-size: contain;
        background-attachment: scroll;
        padding-top: 4rem;
    }

    .cards-home-container {
        width: 100%;
        justify-content: center;
        margin: 1rem 0 4rem 0;
    }

    .card-up-home {
        width: 80%;
        height: 10rem;
        background-color: #fff;
        margin: 0.5rem;
    }

    .center-card {
        width: 80%;
        height: 20rem;
    }

    .tittle-card-home a {
        font-size: 1.2rem;
        padding: 4px 30px;
    }
}